<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDao">
    <!--查询所有-->
    <select id="selectAll" resultType="Banner">
        select id,title,img,create_Date,status from banner
    </select>
    <!--添加-->
    <insert id="insert" parameterType="Banner">
        insert into banner(id,title,img,create_Date,status) values(#{id},#{title},#{img},#{create_Date},#{status})
    </insert>

    <!--分页查询-->
    <select id="selectPage" resultType="Banner">
        select id,title,img,create_Date,status from banner limit #{page},#{rows};
    </select>
    <!--查询总条数-->
    <select id="bannerTotalNumber" resultType="int">
        select count(id) from banner
    </select>

    <!--修改-->
    <update id="update" parameterType="Banner">
        update banner
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">
                title=#{title} ,
            </if>
            <if test="img!=null">
                img=#{img} ,
            </if>
            <if test="create_Date!=null">
                create_Date=#{create_Date} ,
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!--批量删除-->

    <delete id="delete">
        <!-- delete from emp where empno in(7789,7790) -->
        <!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item
            : 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
        delete from banner where id in
        <foreach collection="array" item="id" open="("
                 separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>